{% block styles %}
    <style type="text/css">
        #likert { text-align:center; }
        likert td { width: 80%; }
     </style>

    <style>
        .likert li {
            padding-left: 20px;
            float: left;
            list-style-type: none;
        }
    </style>
{% endblock %}

{% block title %}
    <table class="table">
        <tr>
            <td style="width:70%;border-color:transparent">Closing Survey</td>
            <td style="width:30%;border-color:transparent;text-align: right;">
                <img src="{% static 'img/um_logo.jpg' %}" style="width:30%;">
            </td>
        </tr>
    </table>
{% endblock %}

{% block content %}

<body>
    <!-- Header <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist"> -->

    <div class="card">
        <div class="card-header">
        <nav  role="navigation">

             <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
                <li class="nav-item" >
                    <a class="nav-link back-and-forth active" id="part1-tab" data-toggle="tab" href="#part1" role="tab" aria-controls="part1"> Closing Survey </a>
                </li>
            </ul>

        </nav>
        </div>

        <!-- Instructions -->

        <div class="tab-content" id="myTabContent">

            <!-- Part 1: WHATEVER FIRST TAB HERE -->
            <div class="tab-pane show active" id="part1" role="tabpanel" aria-labelledby="part1-tab">
                <div class="card-header bg-white border-bottom-0 sticky-top mt-3">
                    <p class="h4">Questionnaire</p>
                </div>

                <div class="card-body">
                    <div id="closing_survey" style="display: block">
                        <p>
                            Please answer the <!-- {{ Constants.num_final_questions }} --> following questions. This is
                            today's last step. Afterwards you successfully completed this experiment.
                            <br><br><br><br>
                        </p>

                        <p class="h4" style="color:grey;"> <!--style="color:royalblue;"-->
                            Let's start with some question about yourself.
                            <br><br>
                        </p>

                        {{ formfield 'gender' }}
                        {{ formfield 'education' }}
                        {{ formfield 'field_of_studies' }}
                        {{ formfield 'years_of_working' }}

                        <p class="h4" style="color:grey;">
                            <br><br>
                            Now, please read the following statement and state how well it describes you as a person.
                            <br><br>
                        </p>

                        <p>
                            <b>As long as I am not convinced otherwise, I assume that people have only the best
                            intentions.</b>
                        </p>
                        {{ formfield_errors 'trust' }}
                        <ul class="likert">
                          <li> does not describe me at all </li>
                          <li><input type="radio" name="trust" value="0" /></li>
                          <li><input type="radio" name="trust" value="1" /></li>
                          <li><input type="radio" name="trust" value="2" /></li>
                          <li><input type="radio" name="trust" value="3" /></li>
                          <li><input type="radio" name="trust" value="4" /></li>
                          <li><input type="radio" name="trust" value="5" /></li>
                          <li><input type="radio" name="trust" value="6" /></li>
                          <li><input type="radio" name="trust" value="7" /></li>
                          <li><input type="radio" name="trust" value="8" /></li>
                          <li><input type="radio" name="trust" value="9" /></li>
                          <li><input type="radio" name="trust" value="10" /></li>
                          <li> describes me perfectly </li>
                        </ul>

                        <p>
                            <br><br>
                        </p>

                        <p class="h4" style="color:grey;"> <!--style="color:royalblue;"-->
                            <br><br>
                            Finally, please answer some questions about the task you worked on throughout today's
                            experiment.
                            <br><br>
                        </p>

                        <p>
                            <b>How would you rate your own understanding of the task?</b>
                        </p>
                        {{ formfield_errors 'understanding' }}
                        <ul class="likert">
                          <li> very weak </li>
                          <li><input type="radio" name="understanding" value="1" /></li>
                          <li><input type="radio" name="understanding" value="2" /></li>
                          <li><input type="radio" name="understanding" value="3" /></li>
                          <li><input type="radio" name="understanding" value="4" /></li>
                          <li><input type="radio" name="understanding" value="5" /></li>
                          <li> very good </li>
                        </ul>

                        <p>
                            <br><br>
                        </p>

                        <div>
                            <p>
                                <b>Please, briefly describe how you tried to solve the task in the experiment:</b> <br>
                                <i>How did you come up with a range around the group judgments, based on the information
                                    your were given?
                                </i>
                            </p>
                            <textarea id="strategy_input"
                                      name="strategy"
                                      placeholder="I used my information in the following way ..."
                                      rows="5" cols="90"></textarea>
                            <br>
                        </div>
                        {{ formfield_errors 'strategy' }}

                        <div>
                            <p>
                                <i>Did you evaluate group judgments from groups with hidden agendas differently? How?</i>
                            </p>
                            <textarea id="hidden_agendas_input"
                                      name="hidden_agendas"
                                      placeholder="When hidden agendas were present ..."
                                      rows="5" cols="90"></textarea>
                            <br>
                        </div>
                        {{ formfield_errors 'hidden_agendas' }}

                        <div>
                            <p>
                                <b>Finally, if you wanted to get the judgment of a group of people, of which some have a
                                    hidden agenda, how would you like that group to interact?</b>
                            </p>
                            <textarea id="wish_input"
                                      name="wish"
                                      placeholder="It would be great if ..."
                                      rows="5" cols="90"></textarea>
                            <br>
                        </div>
                        {{ formfield_errors 'wish' }}

                        <p>
                            <br><br>
                            Once you answered all questions, please click the blue button in order to continue to the
                            final page, where you will see your earnings from this experiment.
                        </p>

                        <div class="col col-lg-2" id="next_button" style="display: block">
                            <button class="btn btn-primary btn-large">
                                Continue
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>


{% endblock %}


