
{% block styles %}
    <link href="{% static 'global/css/global.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrap-4/css/bootstrap.css' %}" rel="stylesheet">

<!--    Styling of dual handle range sliders-->
<style>
    .range_container {
      display: flex;
      flex-direction: column;
      width: 80%;
      margin: 6% auto;
    }

    .sliders_control {
      position: relative;
      min-height: 50px;
    }

    .form_control {
      position: relative;
      display: flex;
      justify-content: space-between;
      text-align: center;
      font-size: 24px;
      color: #635a5a;
    }

    .judgment_info {
      position: relative;
      display: flex;
      justify-content: center;
      text-align: center;
      font-size: 24px;
      color: #011c3c;
    }

    [id$="Slider"]::-webkit-slider-thumb {
      -webkit-appearance: none;
      pointer-events: all;
      height: 24px;
      width: 10px;
      border-radius: 22px;
      background-color: #fff;
      box-shadow: 0 0 0 1px #25daa5;
      cursor: grab;
    }

    [id="judgment"]::-webkit-slider-thumb {
      -webkit-appearance: none;
      pointer-events: all;
      width: 12px;
      height: 12px;
      background-color: #011c3c;
      border-radius: 50%;
      box-shadow: 0 0 0 1px #011c3c;
      cursor: none;
    }

/*    input[type=range]::-webkit-slider-thumb {
      -webkit-appearance: none;
      pointer-events: all;
      width: 24px;
      height: 24px;
      background-color: #fff;
      border-radius: 50%;
      box-shadow: 0 0 0 1px #C6C6C6;
      cursor: pointer;
    }*/

/*    input[type=range]::-moz-range-thumb {
      -webkit-appearance: none;
      pointer-events: all;
      width: 24px;
      height: 24px;
      background-color: #fff;
      border-radius: 50%;
      box-shadow: 0 0 0 1px #C6C6C6;
      cursor: pointer;
    }*/

    input[type=range]::-webkit-slider-thumb:hover {
      background: #f7f7f7;
    }

    input[type=range]::-webkit-slider-thumb:active {
      box-shadow: inset 0 0 3px #387bbe, 0 0 9px #387bbe;
      -webkit-box-shadow: inset 0 0 3px #387bbe, 0 0 9px #387bbe;
    }

    input[type="number"] {
      color: #8a8383;
      width: 50px;
      height: 30px;
      font-size: 20px;
      border: none;
    }

    input[type=number]::-webkit-inner-spin-button {
    }
    input[type=number]::-webkit-outer-spin-button {
       opacity: 1;
    }

    input[type="range"] {
      -webkit-appearance: none;
      appearance: none;
      height: 2px;
      width: 100%;
      position: absolute;
      background-color: #C6C6C6;
      pointer-events: none;
    }

    #fromSlider {
      height: 0;
      z-index: 1;
    }

</style>
{% endblock %}





{% block scripts %}
    <script src="{% static 'global/js/basics.js' %}"></script>
    <script src="{% static 'global/js/navbuttons.js' %}"></script>
    <script src="{% static 'bootstrap-4/js/bootstrap.bundle.js' %}"></script>

    <script>

    <!-- Activate header indicating underlying interaction format of judgments -->
    // Trial Rounds
    {% if player.round_displayed == 1 %} // control which initial info each player sees
        document.getElementById("ftf_header_trial").style.display = "block";
        document.getElementById("ftf_part1-tab").style.display = "block";
        document.getElementById("ftf_description").style.display = "block";
        document.getElementById("judgment").value = {{ group_judgment }};
        document.getElementById("judgmentInput").value = {{ group_judgment }};
    {% elif player.round_displayed == 2 %}
        document.getElementById("ftfha_header").style.display = "block";
        document.getElementById("ftfha_part1-tab").style.display = "block";
        document.getElementById("ftfha_description").style.display = "block";
        document.getElementById("judgment").value = {{ group_judgment }};
        document.getElementById("judgmentInput").value = {{ group_judgment }};
    {% elif player.round_displayed == 3 %}
        document.getElementById("delphi_header").style.display = "block";
        document.getElementById("delphi_part1-tab").style.display = "block";
        document.getElementById("delphi_description").style.display = "block";
        document.getElementById("judgment").value = {{ group_judgment }};
        document.getElementById("judgmentInput").value = {{ group_judgment }};
    {% elif player.round_displayed == 4 %}
        document.getElementById("delphiha_header").style.display = "block";
        document.getElementById("delphiha_part1-tab").style.display = "block";
        document.getElementById("delphiha_description").style.display = "block";
        document.getElementById("judgment").value = {{ group_judgment }};
        document.getElementById("judgmentInput").value = {{ group_judgment }};
    // Actual Rounds
    {% elif player.round_displayed >= 5 && player.round_displayed <= 6 %}
        document.getElementById("ftf_header").style.display = "block";
        document.getElementById("ftf_part1-tab").style.display = "block";
        document.getElementById("ftf_description").style.display = "block";
        document.getElementById("judgment").value = {{ group_judgment }};
        document.getElementById("judgmentInput").value = {{ group_judgment }};
    {% endif %}

    <!-- Function to save time and other results at end of screen -->
    function saveResults() {
        document.getElementById("end_of_round_input").value = new Date().getTime();
        var judgmentLower_input = document.getElementById("fromSlider").value;
        document.getElementById("judgmentLower").value = judgmentLower_input;
        var judgmentUpper_input = document.getElementById("toSlider").value;
        document.getElementById("judgmentUpper").value = judgmentUpper_input;
    }

    <!-- Function to make dual handle range sliders work -->
    function controlFromInput(fromSlider, fromInput, toInput, controlSlider) {
        const [from, to] = getParsed(fromInput, toInput);
        fillSlider(fromInput, toInput, '#C6C6C6', '#25daa5', controlSlider);
        if (from > to) {
            fromSlider.value = to;
            fromInput.value = to;
        } else {
            fromSlider.value = from;
        }
    }

    function controlToInput(toSlider, fromInput, toInput, controlSlider) {
        const [from, to] = getParsed(fromInput, toInput);
        fillSlider(fromInput, toInput, '#C6C6C6', '#25daa5', controlSlider);
        setToggleAccessible(toInput);
        if (from <= to) {
            toSlider.value = to;
            toInput.value = to;
        } else {
            toInput.value = from;
        }
    }

    function controlFromSlider(fromSlider, toSlider, fromInput) {
      const [from, to] = getParsed(fromSlider, toSlider);
      fillSlider(fromSlider, toSlider, '#C6C6C6', '#25daa5', toSlider);
      if (from > to) {
        fromSlider.value = to;
        fromInput.value = to;
      } else {
        fromInput.value = from;
      }
    }

    function controlToSlider(fromSlider, toSlider, toInput) {
      const [from, to] = getParsed(fromSlider, toSlider);
      fillSlider(fromSlider, toSlider, '#C6C6C6', '#25daa5', toSlider);
      setToggleAccessible(toSlider);
      if (from <= to) {
        toSlider.value = to;
        toInput.value = to;
      } else {
        toInput.value = from;
        toSlider.value = from;
      }
    }

    function getParsed(currentFrom, currentTo) {
      const from = parseInt(currentFrom.value, 10);
      const to = parseInt(currentTo.value, 10);
      return [from, to];
    }

    function fillSlider(from, to, sliderColor, rangeColor, controlSlider) {
        const rangeDistance = to.max-to.min;
        const fromPosition = from.value - to.min;
        const toPosition = to.value - to.min;
        controlSlider.style.background = `linear-gradient(
          to right,
          ${sliderColor} 0%,
          ${sliderColor} ${(fromPosition)/(rangeDistance)*100}%,
          ${rangeColor} ${((fromPosition)/(rangeDistance))*100}%,
          ${rangeColor} ${(toPosition)/(rangeDistance)*100}%,
          ${sliderColor} ${(toPosition)/(rangeDistance)*100}%,
          ${sliderColor} 100%)`;
    }

    function setToggleAccessible(currentTarget) {
      const toSlider = document.querySelector('#toSlider');
      if (Number(currentTarget.value) <= 0 ) {
        toSlider.style.zIndex = 2;
      } else {
        toSlider.style.zIndex = 0;
      }
    }

    const fromSlider = document.querySelector('#fromSlider');
    const toSlider = document.querySelector('#toSlider');
    const fromInput = document.querySelector('#fromInput');
    const toInput = document.querySelector('#toInput');
    fillSlider(fromSlider, toSlider, '#C6C6C6', '#25daa5', toSlider);
    setToggleAccessible(toSlider);

    fromSlider.oninput = () => controlFromSlider(fromSlider, toSlider, fromInput);
    toSlider.oninput = () => controlToSlider(fromSlider, toSlider, toInput);
    fromInput.oninput = () => controlFromInput(fromSlider, fromInput, toInput, toSlider);
    toInput.oninput = () => controlToInput(toSlider, fromInput, toInput, toSlider);
    </script>

{% endblock %}


{% block title %}
    <table class="table">
        <tr>
            <td style="width:70%;border-color:transparent">Trial Round</td>
            <td style="width:30%;border-color:transparent;text-align: right;">
                <img src="{% static 'img/um_logo.jpg' %}" style="width:30%;">
            </td>
        </tr>
    </table>
{% endblock %}



{% block content %}




<body>
    <!-- Header <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist"> -->

    <div class="card">
        <div class="card-header">
        <nav  role="navigation">

             <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
                <li class="nav-item" >
                    <a class="nav-link back-and-forth active" id="ftf_part1-tab" data-toggle="tab" href="#part1" role="tab" aria-controls="part1" style="display: none"> FTF groups </a>
                </li>

                 <li class="nav-item" >
                    <a class="nav-link back-and-forth active" id="ftfha_part1-tab" data-toggle="tab" href="#part1" role="tab" aria-controls="part1" style="display: none"> FTF groups with hidden agendas </a>
                </li>

                 <li class="nav-item" >
                    <a class="nav-link back-and-forth active" id="delphi_part1-tab" data-toggle="tab" href="#part1" role="tab" aria-controls="part1" style="display: none"> Delphi groups </a>
                </li>

                 <li class="nav-item" >
                    <a class="nav-link back-and-forth active" id="delphiha_part1-tab" data-toggle="tab" href="#part1" role="tab" aria-controls="part1" style="display: none"> Delphi groups with hidden agendas </a>
                </li>
            </ul>

        </nav>
        </div>

        <!-- Instructions -->

        <div class="tab-content" id="myTabContent">

            <!-- Part 1: WHATEVER FIRST TAB HERE -->
            <div class="tab-pane show active" id="part1" role="tabpanel" aria-labelledby="part1-tab">

                <div class="card-header bg-white border-bottom-0 sticky-top mt-3" id="ftf_header_trial"
                     style="display: none; color:#0a78f5;">
                    <p class="h4">As a trial, please evaluate one judgment from face-to-face groups</p>
                </div>

                <div class="card-header bg-white border-bottom-0 sticky-top mt-3" id="ftf_header"
                     style="display: none; color:#0a78f5;">
                    <p class="h4">Please evaluate judgment 1 out of 10 from face-to-face groups</p>
                </div>

                <div class="card-header bg-white border-bottom-0 sticky-top mt-3" id="ftfha_header" s
                      style="display: none; color:#0a78f5;">
                    <p class="h4">As a trial, please evaluate one judgment from face-to-face groups with hidden agendas</p>
                </div>

                <div class="card-header bg-white border-bottom-0 sticky-top mt-3" id="delphi_header"
                      style="display: none; color:#0a78f5;">
                    <p class="h4">As a trial, please evaluate one judgment from Delphi groups as a trial</p>
                </div>

                <div class="card-header bg-white border-bottom-0 sticky-top mt-3" id="delphiha_header"
                      style="display: none; color:#0a78f5;">
                    <p class="h4">As a trial, please evaluate one judgment  from Delphi groups with hidden agendas</p>
                </div>

                <div class="card-body">

                    <div id="ftf_description" style="display: none">
                        Remember: In face-to-face groups ...
                        <br>
                        <br>
                        <ul>
                          <li>group members <b>discussed freely</b> in a <b>zoom video call</b> </li>
                          <li>the final group judgment was a <b>reported consensus</b> of all group members</li>
                          <li>the <b>more accurate</b> the group's judgment the higher their chance to receive a
                              <b>bonus</b></li>
                        </ul>
                    </div>

                    <div id="ftfha_description" style="display: none">
                        Remember: In face-to-face groups with hidden agendas ...
                        <br>
                        <br>
                        Two out of four group members have a hidden agenda to <b>manipulate the judgment
                        either towards 0 or towards 100</b>. Whether it was one or the other direction was
                        determined randomly for each task the group faced. Both group members had the same hidden
                        agenda. The more they managed to achieve their hidden agenda the higher their chance to
                        receive an <b> additional bonus</b>.
                        <br>
                        Apart from that group interaction is the same as without hidden agendas ...
                        <ul>
                          <li>group members <b>discussed freely</b> in a <b>zoom video call</b> </li>
                          <li>the final group judgment was a <b>reported consensus</b> of all group members</li>
                          <li>the <b>more accurate</b> the group's judgment the higher their chance to receive a
                              <b>bonus</b></li>
                        </ul>

                    </div>

                    <div id="delphi_description" style="display: none">
                        Remember: In delphi groups ...
                        <br>
                        <br>
                        <ul>
                          <li>group members gave a first <b> individual judgment and reasoning</b> </li>
                          <li>then they <b>saw their group members' reports</b> and gave a second individual judgment</li>
                          <li>the final group judgment was the <b>average of second individual judgments</b></li>
                          <li>the <b>more accurate</b> the group's judgment the higher their chance to receive a
                              <b>bonus</b></li>
                        </ul>
                    </div>

                    <div id="delphiha_description" style="display: none">
                        Remember: In delphi groups with hidden agendas ...
                        <br>
                        <br>
                        Two out of four group members have a hidden agenda to <b>manipulate the judgment
                        either towards 0 or towards 100</b>. Whether it was one or the other direction was
                        determined randomly for each task the group faced. Both group members had the same hidden
                        agenda. The more they managed to achieve their hidden agenda the higher their chance to
                        receive an <b> additional bonus</b>.
                        <br>
                        <br>
                        Apart from that group interaction is the same as without hidden agendas ...
                        <br>
                        <br>
                        <ul>
                          <li>group members gave a first <b> individual judgment and reasoning</b> </li>
                          <li>then they <b>saw their group members' reports</b> and gave a second individual judgment</li>
                          <li>the final group judgment was the <b>average of second individual judgments</b></li>
                          <li>the <b>more accurate</b> the group's judgment the higher their chance to receive a
                              <b>bonus</b></li>
                        </ul>

                    </div>

                    <div>
                        <br>
                        <br>
                        <p style="color:#0a78f5;">
                            Please use the handles on the slider below to indicate the range you think the true value
                            falls into.
                        </p>

                        <div class="range_container">
                            <div class="judgment_info">
                                <div class="judgment_info_container">
                                        group judgment <br>
                                    <input class="form_control_container__time__input" type="number" id="judgmentInput"
                                           value="0" style="margin-bottom:18pt;"/>
                                </div>
                            </div>
                            <div class="sliders_control">
                                <input id="judgment" type="range" value="" disabled = "true"/>
                                <input id="fromSlider" type="range" value="0" min="0" max="100" step="1"/>
                                <input id="toSlider" type="range" value="100" min="0" max="100" step="1"/>
<!--                                Hidden input fields to store data in otree formfields-->
                                <input type="hidden" name="judgmentLower" id="judgmentLower" />
                                <input type="hidden" name="judgmentUpper" id="judgmentUpper" />
                            </div>
                            <div class="form_control">
                                <div class="form_control_container">
                                    <div class="form_control_container__time">lower bound</div>
                                    <input class="form_control_container__time__input" type="number" id="fromInput" value="0" min="0" max="100"/>
                                </div>
                                <div class="form_control_container">
                                    <div class="form_control_container__time">
                                        upper bound</div>
                                    <input class="form_control_container__time__input" type="number" id="toInput" value="100" min="0" max="100"/>
                                </div>
                            </div>
                        </div>
                    </div>




                    <!-- on Card Navigation  Arrows -->

                    <!-- greyed out left arrow on first page -->
                    <div class="row justify-content-md-center mt-5">

                        <div class="col col-lg-2" id="next_button" style="display: block">
                            <button class="btn btn-primary btn-large" onclick="saveResults()">
                                Continue
                            </button>
                        </div>

                        <input id="end_of_round_input" name="end_of_round" type="hidden" value=""/>
                        {{ formfield_errors 'end_of_round' }}

                    </div>
                </div>
            </div>
        </div>
    </div>


</body>

{% endblock %}