
{% block styles %}
    <link href="{% static 'global/css/global.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrap-4/css/bootstrap.css' %}" rel="stylesheet">
{% endblock %}


{% block scripts %}
    <script src="{% static 'global/js/basics.js' %}"></script>
    <script src="{% static 'global/js/navbuttons.js' %}"></script>
    <script src="{% static 'bootstrap-4/js/bootstrap.bundle.js' %}"></script>

    <script>

    <!-- Function to save time and other results at end of screen -->
    function saveResults() {
        document.getElementById("end_of_round_input").value = new Date().getTime();
    }
    </script>

{% endblock %}


{% block title %}
    <table class="table">
        <tr>
            <td style="width:70%;border-color:transparent">Questions</td>
            <td style="width:30%;border-color:transparent;text-align: right;">
                <img src="{% static 'img/um_logo.jpg' %}" style="width:30%;">
            </td>
        </tr>
    </table>
{% endblock %}



{% block content %}




<body>
    <!-- Header <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist"> -->

    <div class="card">
        <div class="card-header">
        <nav  role="navigation">

             <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
                <li class="nav-item" >
                    <a class="nav-link back-and-forth active" id="ftf_part1-tab" data-toggle="tab" href="#part1" role="tab" aria-controls="part1" style="display: block"> Got it? </a>
                </li>
            </ul>

        </nav>
        </div>

        <!-- Instructions -->

        <div class="tab-content" id="myTabContent">

            <!-- Part 1: WHATEVER FIRST TAB HERE -->
            <div class="tab-pane show active" id="part1" role="tabpanel" aria-labelledby="part1-tab">

                <div class="card-header bg-white border-bottom-0 sticky-top mt-3" id="ftf_header"
                     style="display: block; color:#0a78f5;">
                    <p class="h4">Let's wait for all participants and then answer any open questions</p>
                </div>

                <div class="card-body">

                    <p>
                        Once we answered all questions, the experimenter will tell you the password, and you
                        can continue the experiment.
                    </p>

                    {{ formfields }}

                </div>

                    <!-- on Card Navigation  Arrows -->

                    <!-- greyed out left arrow on first page -->
                    <div class="row justify-content-md-center mt-5">

                        <div class="col col-lg-2" id="next_button" style="display: block">
                            <button class="btn btn-primary btn-large" onclick="saveResults()">
                                Continue
                            </button>
                            <p></p>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>


</body>

{% endblock %}