
{% block styles %}
    <link href="{% static 'global/css/global.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrap-4/css/bootstrap.css' %}" rel="stylesheet">

{% endblock %}

{% block scripts %}
    <script src="{% static 'global/js/basics.js' %}"></script>
    <script src="{% static 'global/js/navbuttons.js' %}"></script>
    <script src="{% static 'bootstrap-4/js/bootstrap.bundle.js' %}"></script>

    <script>
        function saveTime() {
            let startTime = new Date().getTime();
            document.getElementById("starting_time").value = startTime;
        }
        document.title = "Welcome to this study!";

        function readmore() {
          var dots = document.getElementById("dots");
          var moreText = document.getElementById("more");
          var btnText = document.getElementById("readmoreBtn");

          if (dots.style.display === "none") {
            dots.style.display = "inline";
            btnText.innerHTML = "Read more";
            moreText.style.display = "none";
          } else {
            dots.style.display = "none";
            btnText.innerHTML = "Read less";
            // document.getElementById("readmoreBtn").innerHTML = "Read less"
            moreText.style.display = "inline";
          }
        }
    </script>
<!--    <style>
        #more {display: none;}
    </style>-->
{% endblock %}

{% block title %}
    <table class="table">
        <tr>
            <td style="width:70%;border-color:transparent">Welcome to this study!</td>
            <td style="width:30%;border-color:transparent;text-align: right;">
                <img src="{% static 'img/um_logo.jpg' %}" style="width:30%;">
            </td>
        </tr>
    </table>
{% endblock %}



{% block content %}

<body>
    <!-- Header <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist"> -->

    <div class="card">
        <div class="card-header">
        <nav  role="navigation">

             <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
                 <li class="nav-item" >
                    <a class="nav-link back-and-forth active" id="part1-tab" data-toggle="tab" href="#part1" role="tab" aria-controls="part1"> Welcome </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link back-and-forth" id="part2-tab" data-toggle="tab" href="#part2" role="tab" aria-controls="part2"> Your Data </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link back-and-forth" id="part3-tab" data-toggle="tab" href="#part3" role="tab" aria-controls="part3"> Informed Consent </a>
                </li>

            </ul>

        </nav>
        </div>

        <!-- Instructions -->

        <div class="tab-content" id="myTabContent">

            <!-- Part 1: WHATEVER FIRST TAB HERE -->
            <div class="tab-pane show active" id="part1" role="tabpanel" aria-labelledby="part1-tab">
                <div class="card-header bg-white border-bottom-0 sticky-top mt-3">
                    <p class="h4">Welcome to this experiment! It is great, you are here.</p>
                </div>
                <div class="card-body">

                    <div>
                        <p>
                            As announced in the invitation in this experiment you will need to solve some tasks.
                            Additionally, you will be asked to fill out a
                            questionnaire with questions about yourself and your participation in this experiment. The
                            experiment will take around 30-45 minutes.
                        </p>

                        <p>
                            In this experiment you will be able to earn money based on your performance in the
                            tasks. Moreover, you will earn a fixed fee of {{ Constants.fixed_pay }} for
                            completing the experiment. Total payments, including the fixed fee, are calibrated, such
                            that participants earn around {{ Constants.avg_pay }} on average. Your payments can
                            however be larger or smaller depending on your behavior and the behavior of others.

                        <p>
                            In case you have questions throughout the experiment, please raise your hand. The
                            experimenter will come to you and answer your question. Please do not ask your question
                            aloud. Should you have questions after completing the experiment you can reach David
                            Albrecht, the responsible researcher who also sent the invitation for this experiment, at
                        </p>

                        <p style="margin-left:10pt">
                            David Albrecht <br>
                            Room A4.13 - Tongersestraat 53 <br>
                            6211 LM Maastricht<br>
                            The Netherlands<br>
                            Or via e-mail: d.albrecht@maastrichtuniversity.nl
                        </p>
                        <p>
                            Finally, it is important to note that we apply a strict "no-deception" rule, meaning that
                            all instructions and explanations by the experimenters given throughout the experiment are
                            true and will be implemented exactly as described. This experiment was approved by the
                            Ethical Review Committee of Inner-City Faculties at Maastricht University (ERCIC).
                        </p>
                    </div>


                    <!-- on Card Navigation  Arrows -->

                    <!-- greyed out left arrow on first page -->
                    <div class="row justify-content-md-center mt-5">
                        <div class="col col-lg-2">
                            <p class="prevtab text-secondary text-center">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#D3D3D3" class="bi-arrow-left-circle" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                    <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z"/>
                                </svg>
                            </p>
                        </div>

                        <div class="col col-lg-2">
                            <p onclick="topFunction()" class="nexttab text-center" data-toggle="tooltip" data-placement="top" title="Next">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#076bff" class="bi bi-arrow-right-circle" viewBox="0 0 16 16" style="cursor: pointer">
                                    <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                    <path fill-rule="evenodd" d="M4 8a.5.5 0 0 0 .5.5h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5A.5.5 0 0 0 4 8z"/>
                                </svg>
                            </p>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Part 2: WHATEVER SECOND TAB HERE  -->
            <div class="tab-pane" id="part2" role="tabpanel" aria-labelledby="part2-tab">
                <div class="card-header bg-white border-bottom-0 mt-3 sticky-top">
                    <p class="h4">Here you can find the details on our data protection policy</p>
                </div>

                <div class="card-body">
                    <div>
                        <!--
                        <h5 style="margin-top: 0;">
                            What information do we collect and why?
                        </h5>
                        -->

                        <p>
                            Upon your consent, the responses to the experiment you provide will be collected.
                            <br>
                            <span id ="dots"> <b>...</b> </span>
                        </p>
                        <div id="more" style="display: none">
                            <p>
                                Until completion of the project all data is
                                accessible to the research team comprising the following employees of SBE: Alexander Brüggen,
                                Martin Strobel, Thomas Meissner and David Albrecht. Furthermore, the research team may grant
                                data access to research assistants sourced from researchers and students at UM upon signing
                                a confidentiality agreement.
                            <br>
                            <br>
                                After completion of the project, anonymized results and anonymized data may be published in
                                academic papers, and data- as well as research repositories. These materials will only
                                comprise anonymous information. It is not possible to link this material to an individual
                                person.
                            <br>
                            <br>
                            <h5>
                                What is the legal basis for holding these data?
                            </h5>
                            <br>
                                The lawful basis for processing this information is your consent which you will be asked to
                                give at the next page.
                            <br>
                            <br>
                                Your data will not be used for other purposes. Only fully anonymized data will be made
                                available outside the research team. This happens for the sole purpose of replicating the
                                analysis if requested e.g. by scientific journals. You have the right to request access to
                                your personal data and/or deletion by sending an email to d.albrecht@maastrichtuniversity.nl.
                            <br>
                            <br>
                            <h5>
                                How do we store the data?
                            </h5>
                            <br>
                                This experiment uses the app oTree, which is hosted on a local server here at Maastricht
                                University. All raw data collected in the experiments is stored securely on servers at
                                Maastricht University. Personal data, will be encrypted
                                and deleted after completion of transformation into anonymized information.
                                Maastricht University stores all anonymous research data for at least 10 years. After
                                that, the data is destroyed or transferred to other media for longer storage if needed.
                            <br>
                            <br>
                                If you have questions, comments or concerns about the data handling of this
                                research project, you can contact the responsible researcher
                                David Albrecht at d.albrecht@maastrichtuniversity.nl.
                            <br>
                            <br>
                                If you have any specific questions regarding the handling of personal data, you can also
                                submit these to the Data Protection Officer by sending an email to
                                fg@maastrichtuniversity.nl. You also have the right to lodge a complaint with the Dutch
                                Data Protection Authority.
                            </p>
                        </div>
                        <div id="readmoreDiv" style="display: block">
                            <br>
                            <br>
                            <button id="readmoreBtn" type="button" onclick="readmore()" class="btn btn-primary btn-large">
                                    Read more
                            </button>
                        </div>
                    </div>







                    <!-- on Card Navigation  Arrows -->
                    <div class="row justify-content-md-center mt-5">
                        <div class="col col-lg-2">
                            <p onclick="topFunction()" class="prevtab text-center" data-toggle="tooltip" data-placement="top" title="Back">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#076bff" class="bi bi-arrow-left-circle" viewBox="0 0 16 16" style="cursor: pointer">
                                    <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                    <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z"/>
                                </svg>
                            </p>
                        </div>

                        <div class="col col-lg-2">
                            <p onclick="topFunction()" class="nexttab text-center" data-toggle="tooltip" data-placement="top" title="Next">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#076bff" class="bi bi-arrow-right-circle" viewBox="0 0 16 16" style="cursor: pointer">
                                    <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                    <path fill-rule="evenodd" d="M4 8a.5.5 0 0 0 .5.5h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5A.5.5 0 0 0 4 8z"/>
                                </svg>
                            </p>
                        </div>
                    </div>
                </div>
            </div>



            <!-- Part 3: WHATEVER FINAL TAB HERE -->
            <div class="tab-pane" id="part3" role="tabpanel" aria-labelledby="part3-tab">
                <div class="card-header bg-white border-bottom-0 mt-3 sticky-top">
                    <p class="h4">Your consent to participate</p>
                </div>
                <div class="card-body">
                    <div style="margin-left: 10pt; font-style: italic">
                        <p>
                            I hereby give permission for my personal data to be used for this research project. I have
                            had enough time to decide whether I want to participate in the experiment. I know that
                            participation is voluntary, and I know that I can decide to withdraw from the experiment
                            at any time. I do not have to justify such a decision to withdraw. If I withdraw, I will
                            forfeit any payments.
                        </p>

                        <p>
                            I understand that personal data collected throughout the experiment will be stored on secure
                            servers of Maastricht University and only be available to the research team as outlined
                            before. Only fully anonymised data may be made available outside the research team. Moreover,
                            I give permission for the researcher to use my anonymised responses in subsequent experiments.
                        </p>
<!--
                        <p>
                            I understand that for people with photosensitivity, the characteristics of some of the
                            images in the experiment may cause dizziness or other symptoms.
                        </p>-->
                    </div>


                    <!-- on Card Navigation  Arrows -->
                    <div class="row justify-content-md-center mt-5">
                        <div class="col col-lg-2">
                            <p onclick="topFunction()" class="prevtab text-center" data-toggle="tooltip" data-placement="top" title="Back">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#076bff" class="bi bi-arrow-left-circle" viewBox="0 0 16 16" style="cursor: pointer">
                                    <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                    <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z"/>
                                </svg>
                            </p>
                        </div>

                        <div class="col col-lg-2">
                            <button class="btn btn-primary btn-large" onclick="saveTime()">Participate in this experiment</button>
                        </div>

                        <input id="starting_time" name="starting_time" type="hidden" value=""/>
                        <!--
                        <input type="hidden" name="is_mobile" id="is_mobile">
                        -->

                    </div>
                </div>
            </div>
        </div>
    </div>


</body>

{% endblock %}
